body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: indianred;
    margin: 0;
}

.container {
    margin: 0;
}

.rules {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
}

.buttons {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 40px;
    max-width: 90%;
}

.buttons img {
    max-width: 150px;
    padding: 30px;
    background: transparent;
}

.buttons button :hover {
    border-color: darkcyan;
}

.title {
    font-weight: 600;
    text-align: center;
    font-size: 80px;
    padding: 40px;
    padding-bottom: 0;
    margin: 0;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 75px;
}

.scores p {
    font-weight: 300;
    font-size: 50px;
}

footer {
    background-color: rgb(80, 9, 9);
    padding: 25px;
    color: white;
    margin: 0px;
}

.result {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.rock .paper .scissors {
    display: flex;
}

.playAgain {
    display: flex;
    margin-left: 45%;
    margin-right: 40%;
    margin-bottom: 13px;
    background-color: rgb(80, 9, 9);
    color: white;
    padding: 15px;
    border-radius: 7px;
    align-self: center;
    font-size: 30px;
}