body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: indianred;
    margin: 0;
}

.container {
    margin: 0;
}

.buttons {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 40px;
    max-width: 90%;
}

.title {
    font-weight: 600;
    text-align: center;
    font-size: 80px;
    padding: 40px;
    padding-bottom: 0;
    margin: 0;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 75px;
}

.scores p {
    font-weight: 300;
    font-size: 50px;
}

footer {
    background-color: azure;
    padding: 25px;
    color: white;
    margin: 0px;
}